<%- include('partials/header.ejs'); %>
<form action="editConfirm" method="post">
    <input type="hidden" name="bookId" value="<%=books.id%>">
    <input type="text" name="title" value="<%=books.title%>">
    <input type="text" name="author" value="<%=books.author%>">
    <input type="text" name="description" value="<%=books.short_des%>">
    <input type="submit" value="Update">
</form>
<%- include('partials/footer.ejs'); %>